h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
}

.footer__subscribe-button, .filter__button, .heading__button {
  border-radius: 4px;
  cursor: pointer;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

@-webkit-keyframes top {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    background-color: #1b7dcd;
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    background-color: #1a5381;
  }
}

@keyframes top {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    background-color: #1b7dcd;
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    background-color: #1a5381;
  }
}
@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
}
@keyframes leftRight {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    outline: 1px solid orange;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    outline: 1px solid blue;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    outline: 1px solid green;
  }
}
.heading__button {
  text-align: center;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: none;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .heading__button {
    width: 216px;
  }
}
.heading__button:hover {
  background-color: #1b7dcd;
  -webkit-animation: top 500ms infinite alternate;
          animation: top 500ms infinite alternate;
}

.filter__button {
  padding: 6px 22px;
  border: none;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 15px;
  margin-left: 11px;
}

.filter__button:hover,
.filter__button--current {
  background-color: #2196F3;
  color: #ffffff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.filter__button:hover {
  -webkit-animation: top 500ms infinite alternate;
          animation: top 500ms infinite alternate;
}

.no-scroll {
  overflow: hidden;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(125, 125, 125, 0.3137254902);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 14px;
  right: 8px;
}
.modal__icon svg {
  width: 18px;
  height: 18px;
  stroke: currentColor;
  stroke-width: 2;
  fill: currentColor;
  -webkit-transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:hover svg {
  stroke: #2196F3;
  fill: #2196F3;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.data-modal-close:hover {
  background-color: #2196F3;
  color: #ffffff;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.modal__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text:focus-within {
  color: #2196F3;
}
.modal__text:focus-within input, .modal__text:focus-within textarea {
  color: #2196F3;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal__write {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__write input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 40px;
  padding-left: 42px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__write:focus-within input {
  border: 1px solid #2196F3;
}

.modal__write--last textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  padding: 12px 16px;
  height: 120px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__write--last textarea:focus-within textarea {
  border: 1px solid #2196F3;
}

.modal__img {
  position: absolute;
  left: 16px;
}

.checkbox__span {
  font-weight: 400;
  font-size: 12px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__button {
  margin-top: 30px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover {
  background-color: #1b7dcd;
  -webkit-animation: top 500ms infinite alternate;
          animation: top 500ms infinite alternate;
}

@media (min-width: 1200px) {
  .modal__write,
  .modal__write--last textarea {
    width: 448px;
  }
  .checkbox__span {
    font-size: 14px;
  }
}
.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  background-color: #fff;
  z-index: 2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu__container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__menu svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu:hover > svg {
  fill: #2196F3;
}

.menu__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 65px;
  margin-top: auto;
}

.menu__container .header__menu {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.menu__link {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover {
  color: #2196F3;
}

.menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.menu__contact-phone {
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: #2196F3;
  white-space: nowrap;
  overflow: visible;
}

.menu__contact-mail {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu__list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.menu__item-social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.menu__item-social:nth-child(n+2)::before {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.header {
  padding-top: 15px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo-part {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-animation: leftRight 500ms 5 alternate;
          animation: leftRight 500ms 5 alternate;
}
.header__logo-part--blue {
  color: #2196F3;
}
.header__nav {
  display: none;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
.header__link {
  display: block;
  text-decoration: none;
  padding: 20px 0;
  font-weight: 500;
  font-size: initial;
  line-height: normal;
  letter-spacing: 0.02em;
  color: #757575;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #2196F3;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link--current, .header__link:hover {
  color: #2196F3;
}
.header__link--current::after, .header__link:hover::after {
  width: 100%;
}
.header__contacts {
  display: none;
}
.header__contact-number, .header__contact-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: initial;
  line-height: normal;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  margin-left: 30px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-number:hover, .header__contact-mail:hover {
  color: #2196F3;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.02em;
  }
  .header__menu {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .header__list {
    gap: 30px;
  }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__logo-part {
    font-size: 26px;
  }
}
.heading {
  padding: 118px 0px;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 30, 0.4)), to(rgba(0, 0, 0, 0.6))), url("../img/heading/heading_mob_1x.jpg");
  background-image: linear-gradient(to bottom, rgba(30, 30, 30, 0.4), rgba(0, 0, 0, 0.6)), url("../img/heading/heading_mob_1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .heading {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 30, 0.4)), to(rgba(0, 0, 0, 0.6))), url("../img/heading/heading_mob_2x.jpg");
    background-image: linear-gradient(to bottom, rgba(30, 30, 30, 0.4), rgba(0, 0, 0, 0.6)), url("../img/heading/heading_mob_2x.jpg");
  }
}
.heading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .heading {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 30, 0.4)), to(rgba(0, 0, 0, 0.6))), url("../img/heading/heading_tab_1x.jpg");
    background-image: linear-gradient(to bottom, rgba(30, 30, 30, 0.4), rgba(0, 0, 0, 0.6)), url("../img/heading/heading_tab_1x.jpg");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .heading {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 30, 0.4)), to(rgba(0, 0, 0, 0.6))), url("../img/heading/heading_tab_2x.jpg");
    background-image: linear-gradient(to bottom, rgba(30, 30, 30, 0.4), rgba(0, 0, 0, 0.6)), url("../img/heading/heading_tab_2x.jpg");
  }
}
@media (min-width: 1200px) {
  .heading {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 30, 0.4)), to(rgba(0, 0, 0, 0.6))), url("../img/heading/heading_desk_1x.jpg");
    background-image: linear-gradient(to bottom, rgba(30, 30, 30, 0.4), rgba(0, 0, 0, 0.6)), url("../img/heading/heading_desk_1x.jpg");
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .heading {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 30, 0.4)), to(rgba(0, 0, 0, 0.6))), url("../img/heading/heading_desk_2x.jpg");
    background-image: linear-gradient(to bottom, rgba(30, 30, 30, 0.4), rgba(0, 0, 0, 0.6)), url("../img/heading/heading_desk_2x.jpg");
  }
}
.heading__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

@media (min-width: 480px) {
  .heading {
    max-width: 768px;
  }
}
@media (min-width: 768px) {
  .heading {
    max-width: 1200px;
  }
  .heading__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
  }
}
@media (min-width: 1200px) {
  .heading {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0 280px;
  }
}
.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: left;
  padding-top: 94px;
  padding-bottom: 50px;
}
.filter__buttons {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .filter {
    text-align: center;
  }
}
.projects {
  padding-bottom: 94px;
}
.projects__title {
  font-weight: 700;
  font-size: 36px;
  font-weight: 700;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.projects__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 60px;
  margin-bottom: 30px;
}
.projects__item img {
  display: block;
  width: 100%;
  height: auto;
}
.projects__item:hover, .projects__item:focus-within {
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.projects__item:hover .projects__overlay, .projects__item:focus-within .projects__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.projects__top {
  position: relative;
  overflow: hidden;
}
.projects__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__overlay-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
}
.projects__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
}
.projects__info {
  padding: 20px 24px;
}
.projects__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 768px) {
  .projects__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .projects__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .projects__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .projects__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.portfolio {
  display: none;
  padding-bottom: 94px;
}
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.portfolio__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0;
}
.portfolio__item img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 225px;
}
.portfolio__position-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.portfolio__title {
  font-weight: 700;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .portfolio {
    display: unset;
  }
}
.about {
  padding: 60px 0;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.about__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding-top: 170px;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.about__item--attention::before {
  content: "";
  position: absolute;
  background-color: #f5f4fa;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 290px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  background-image: url("../img/about/icon-attention_1x.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__item--attention::before {
    background-image: url("../img/about/icon-attention_2x.png");
  }
}
.about__item--punctuality::before {
  content: "";
  position: absolute;
  background-color: #f5f4fa;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 290px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  background-image: url("../img/about/icon-punctuality_1x.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__item--punctuality::before {
    background-image: url("../img/about/icon-punctuality_2x.png");
  }
}
.about__item--planning::before {
  content: "";
  position: absolute;
  background-color: #f5f4fa;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 290px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  background-image: url("../img/about/icon-planning_1x.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__item--planning::before {
    background-image: url("../img/about/icon-planning_2x.png");
  }
}
.about__item--technology::before {
  content: "";
  position: absolute;
  background-color: #f5f4fa;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 290px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  background-image: url("../img/about/icon-technology_1x.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__item--technology::before {
    background-image: url("../img/about/icon-technology_2x.png");
  }
}
.about__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.about__text {
  text-align: left;
  font-weight: 400;
  line-height: 171%;
  font-weight: 400;
  font-size: initial;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 480px) {
  .about__item--technology::before, .about__item--planning::before, .about__item--punctuality::before, .about__item--attention::before {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .about__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .about__item--technology::before, .about__item--planning::before, .about__item--punctuality::before, .about__item--attention::before {
    width: 354px;
  }
  .about__title {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .about__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .about__item--technology::before, .about__item--planning::before, .about__item--punctuality::before, .about__item--attention::before {
    width: 270px;
  }
}
.team {
  background-color: #f5f4fa;
  padding: 94px 0;
}
.team__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: normal;
  letter-spacing: 0.03em;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-radius: 0 0 4px 4px;
  margin-right: 0;
  text-align: center;
  padding-bottom: 30px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.team__item img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: center;
}
.team__text {
  font-weight: 400;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media (min-width: 1200px) {
  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: normal;
    letter-spacing: 0.03em;
  }
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4) !important;
        flex-basis: calc((100% - 90px) / 4) !important;
  }
}
.program__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.program__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.program__item:hover {
  background-color: #2196F3;
  -webkit-animation: top 500ms infinite alternate;
          animation: top 500ms infinite alternate;
}
.program__item:hover:hover .program__icon {
  fill: #ffffff;
}

.program__icon {
  fill: #afb1b8;
}

.program__item:hover .program__icon {
  fill: #ffffff;
}

.clients {
  margin: 94px 0;
}
.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover {
  border: 1px solid #2196F3;
}
.clients__item:hover .clients__icon {
  fill: #2196F3;
}
.clients__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media (min-width: 1200px) {
  .clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: normal;
    letter-spacing: 0.03em;
  }
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.footer {
  background-color: #2F303A;
  padding: 60px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo-part {
  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  line-height: normal;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__logo-part--blue {
  color: #2196F3;
}
.footer__text {
  font-weight: 400;
  font-size: initial;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: initial;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
.footer__info-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: initial;
  line-height: 171%;
  letter-spacing: 0.03em;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}
.footer__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-item:hover {
  color: currentColor;
  background-color: #2196F3;
  -webkit-animation: top 500ms infinite alternate;
          animation: top 500ms infinite alternate;
}
.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}
.footer__subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.footer__subscribe-form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 290px;
  height: 50px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0.6;
}
.footer__subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  gap: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px;
}
.footer__subscribe-button:hover {
  background-color: #1b7dcd;
  -webkit-animation: top 500ms infinite alternate;
          animation: top 500ms infinite alternate;
}

@media (min-width: 480px) {
  .footer__subscribe-form input {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 160px;
  }
  .footer__social {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 70px;
  }
  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__subscribe {
    margin-top: 0;
  }
  .footer__subscribe-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__subscribe-form input {
    width: 358px;
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 70px;
}
.social__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:hover {
  color: currentColor;
  background-color: #2196F3;
  -webkit-animation: top 500ms infinite alternate;
          animation: top 500ms infinite alternate;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 93px;
}
.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.subscribe__form input {
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0.6;
}/*# sourceMappingURL=main.css.map */