@import "./base/reset";
@import "./untils/variables";
@import "./untils/mixins";
@import "./untils/placeholder";
@import "./base/common";
@import "./base/animation";
@import "./components/container";
@import "./components/buttons";
@import "./components/modal";
@import "./components/menu";
@import "./layout/header";
@import "./layout/heading";
@import "./layout/filter";
@import "./layout/projects";
@import "./layout/portfolio";
@import "./layout/about";
@import "./layout/team";
@import "./layout/program";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/social";
@import "./layout/subscribe";