.about {
  padding: 60px 0;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    flex: 1;
    position: relative;
    padding-top: 170px;
    text-align: center;
    flex-basis: 100%;

    &--attention::before {
      content: "";
      position: absolute;
      background-color: #f5f4fa;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 290px;
      height: 120px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px 70px;
      background-image: url("../img/about/icon-attention_1x.png");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../img/about/icon-attention_2x.png");
      }
    }

    &--punctuality::before {
      content: "";
      position: absolute;
      background-color: #f5f4fa;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 290px;
      height: 120px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px 70px;
      background-image: url("../img/about/icon-punctuality_1x.png");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../img/about/icon-punctuality_2x.png");
      }
    }

    &--planning::before {
      content: "";
      position: absolute;
      background-color: #f5f4fa;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 290px;
      height: 120px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px 70px;
      background-image: url("../img/about/icon-planning_1x.png");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../img/about/icon-planning_2x.png");
      }
    }

    &--technology::before {
      content: "";
      position: absolute;
      background-color: #f5f4fa;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 290px;
      height: 120px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px 70px;
      background-image: url("../img/about/icon-technology_1x.png");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../img/about/icon-technology_2x.png");
      }
    }
  }

  &__title {
    text-transform: uppercase;
    @include font(700, 14px, 114%);
    margin-bottom: 10px;
  }

  &__text {
    text-align: left;
    font-weight: 400;
    line-height: 171%;
    @include font(400, initial, 171%);
    color: $secondaryTextColor;
  }
}

@media (min-width: 480px) {
  .about {
    &__item {
      &--technology::before,
      &--planning::before,
      &--punctuality::before,
      &--attention::before {
        width: 450px;
      }
    }
  }
}

@media (min-width: 768px) {
  .about {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__item {
      flex-basis: calc((100% - 30px) / 2);

      &--technology::before,
      &--planning::before,
      &--punctuality::before,
      &--attention::before {
        width: 354px;
      }
    }
    &__title {
      text-align: left;
    }
  }
}

@media (min-width: 1200px) {
  .about {
    &__item {
      flex-basis: calc((100% - 90px) / 4);

      &--technology::before,
      &--planning::before,
      &--punctuality::before,
      &--attention::before {
        width: 270px;
      }
    }
  }
}
