.about {
  padding: 94px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    flex: 1;
    position: relative;
    padding-top: 170px;
    text-align: center;

    &--attention::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 270px;
      height: 120px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/icon-attention.jpg");
    }

    &--punctuality::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 270px;
      height: 120px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/icon-punctuality.jpg");
    }

    &--planning::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 270px;
      height: 120px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/icon-planning.png");
    }

    &--technology::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 270px;
      height: 120px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/icon-technology.jpg");
    }
  }

  &__title {
    text-transform: uppercase;
    @include font(700, 14px, 114%);
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    line-height: 171%;
    @include font(400, initial, 171%);
    color: $secondaryTextColor;
  }
}
