.clients {
  margin: 94px 0;

  &__title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    @include font(700, 36px);
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    @include flex();
    gap: 30px;
  }

  &__item {
    @include flex();
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border: 1px solid $accentColor;

      & .clients__icon {
        fill: $accentColor;
      }
    }
  }
  &__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
