.filter {
    @include font(500, 16px, 162%);
    text-align: left;
    padding-top: 94px;
    padding-bottom: 50px;
    &__buttons{
    flex-wrap: wrap;
}
}

@media (min-width: 768px) {
  .filter{
    text-align: center;
}}