.filter {
    @include font(500, 16px, 162%);
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
    &__buttons{
    @include flex($align: null);
    flex-wrap: wrap;
    gap: 8px;
}
}

