.footer {
    background-color: $footerBgColor;
    padding: 60px 0;
}

.footer__container{
    display: flex;
    align-items: baseline;
}

.footer__logo-part{
    display: inline-block;
    font-weight: 700;
    font-size: 26px;
    font-family: $secondFamily;
    color: $logoColorLight;
    margin-bottom: 20px;
}

.footer__logo-part--blue{
    color: $accentColor;
}

.footer__text {
    font-weight: 400;
    line-height: 171%;
    color: $logoColorLight;
    margin-bottom: 9px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    line-height: 171%;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}

.footer__info-link {
    font-weight: 400;
    line-height: 171%;
    color: rgba(255, 255, 255, 0.6);
}

