.heading {
  padding: 118px 0px;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to bottom,
      rgba(30, 30, 30, 0.4),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img/heading/heading_mob_1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__container {
    @include flex(center, column);
  }

  &__title {
    @include font(900, 26px, 136%, 0.06em);
    text-transform: uppercase;
    text-align: center;
    color: $logoColorLight;
    margin-bottom: 30px;
  }
}

@media (min-width: 480px) {
  .heading {
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .heading {
    max-width: 1200px;
    &__title {
      @include font(900, 44px, 136%, 0.06em);
    }
  }
}

@media (min-width: 1200px) {
  .heading {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0 280px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .heading {
    background-image: linear-gradient(
        to bottom,
        rgba(30, 30, 30, 0.4),
        rgba(0, 0, 0, 0.6)
      ),
      url("../img/heading/heading_mob_2x.jpg");
  }
}
@media (min-width: 768px) {
  .heading {
    background-image: linear-gradient(
        to bottom,
        rgba(30, 30, 30, 0.4),
        rgba(0, 0, 0, 0.6)
      ),
      url("../img/heading/heading_tab_1x.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .heading {
      background-image: linear-gradient(
          to bottom,
          rgba(30, 30, 30, 0.4),
          rgba(0, 0, 0, 0.6)
        ),
        url("../img/heading/heading_tab_2x.jpg");
    }
  }
}
@media (min-width: 1200px) {
  .heading {
    background-image: linear-gradient(
        to bottom,
        rgba(30, 30, 30, 0.4),
        rgba(0, 0, 0, 0.6)
      ),
      url("../img/heading/heading_desk_1x.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: linear-gradient(
          to bottom,
          rgba(30, 30, 30, 0.4),
          rgba(0, 0, 0, 0.6)
        ),
        url("../img/heading/heading_desk_2x.jpg");
    }
  }
}
