.heading {
    padding: 118px 0px;
    max-width: 768px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image:
        linear-gradient(to bottom, 
        rgba(30, 30, 30, 0.4), 
        rgba(0, 0, 0, 0.6)),
        url("../img/heading.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__container {
    @include flex(center, column);
    }

    &__title {
        @include font(900, 26px, 136%, 0.06em);
        text-transform: uppercase;
        text-align: center;
        color: $logoColorLight;
        margin-bottom: 30px;
    }
}


@media (min-width: 768px) {
  .heading{
    max-width: 1200px;
    height: 400px;
    padding: 118px 0;
    &__title{
        @include font(900, 44px, 136%, 0.06em);
    }
  }
}

@media (min-width: 1200px) {
  .heading{
    max-width: 1600px;
    height: 600px;
    padding: 200px 0 280px;
    &__title{
        @include font(900, 44px, 136%, 0.06em);
    }
  }
}
