.portfolio {
    padding-bottom: 94px;
}

.portfolio__list {
    display: flex; 
    gap: 30px;
}

.portfolio__item {
    position: relative;
    flex: 1;
    margin-right: 0px;
}

.portfolio__position{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    top: 225px;
}

.portfolio__position-text{
    font-family: $fontFamily;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $footerTextColor;
}

.portfolio__item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio__title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}