
.projects {
    padding-bottom: 94px;
}

.projects_title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.projects_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

.projects_subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
}

.projects_item{
    flex-basis: calc( ( 100% - 2 * 30px ) /  3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects_item img {
    display: block;
    width: 100%;
    height: auto;
}

.projects_item:hover{
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.projects_top {
    position: relative;
    overflow: hidden;
}

.projects_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);

    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay_text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
    padding: 63px 24px;
}

.projects_item:hover .projects_overlay,
.projects_item:focus-within .projects_overlay {
    transform: translateY(0);
    opacity: 1;
}

.projects_item_div{
    padding: 20px 24px;
}

.projects_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: var(--secondary-text-color);
}