.subscribe {
    @include flex(null, column, null);
    margin-left: 93px;
    &__title{

    @include font(700, 14px);
    text-transform: uppercase;
    color: $logoColorLight;
    margin-bottom: 20px;
}
    &__form{
    display: flex;
    gap: 12px;
    & input{
    padding-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: rgba(33, 150, 243, 0);
    @include font(400, 16px, 125%);
    color: $logoColorLight;
    opacity: 0.6;
}
}
}

