.footer_subscribe {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
}

.subscribe_title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color-light);
    margin-bottom: 20px;
}

.subscribe_form{
    display: flex;
    gap: 12px;
}

.subscribe_form input{
    padding-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: rgba(33, 150, 243, 0);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: var(--logo-color-light);
    opacity: 0.6;
}

