.heading__button {
    text-align: center;
    background-color: $accentColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    color: $logoColorLight;
    width: 216px;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heading__button:hover{
    background-color: #1b7dcd;
    animation: top 500ms infinite alternate;
}

.filter__button{
    padding: 6px 22px;
    border: none;
    background-color: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button--current {
    background-color: $accentColor;
    color: $logoColorLight;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.filter__button:hover{
    animation: top 500ms infinite alternate;
}

.subscribe__button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: $accentColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    text-align: center;
    color: $logoColorLight;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button:hover{
    background-color: #1b7dcd;
    animation: top 500ms infinite alternate;
}