.container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    outline: 1px solid blue;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    outline: 1px solid green;
  }
}
