.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  background-color: #fff;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu__container.is-open {
  transform: translateX(0);
}

.menu__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header__menu svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu:hover > svg {
    fill: $accentColor;
}

.menu__bottom {
  display: flex;
  flex-direction: column;
  gap: 65px;
  margin-top: auto; }


.menu__container .header__menu {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.menu__list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.menu__link{
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover{
    color: $accentColor;
}

.menu__contacts{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.menu__contact-phone{
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.02em;
    color: $accentColor;
    white-space: nowrap; 
  overflow: visible;
}

.menu__contact-mail{
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: $secondaryTextColor;
}

.menu__list-social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu__item-social {
  position: relative;
  display: flex;
  align-items: center;
}

.menu__link-social{
    font-weight: 500;
    font-size: 18px;
    line-height: 122%;
    letter-spacing: 0.02em;
    color: $accentColor;
}

.menu__item-social:nth-child(n+2)::before {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}
