    $mainTextColor: #212121;
    $secondaryTextColor: #757575;
    $navListColor: #212121;
    $accentColor: #2196F3;
    $bgColor: #ffffff;
    $footerBgColor: #2F303A;
    $footerTextColor: #ffffff;
    $footerContactColor: rgba(255, 255, 255, 0.6);
    $logoColorDark: #000000;
    $logoColorLight: #ffffff;
    $fontFamily: "Roboto", sans-serif;
    $secondFamily: "Raleway", sans-serif;